* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

section {
  max-width: 1024px;
  margin: 0 auto;
}
header {
  max-width: 1024px;
}

footer {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.git {
  max-height: 45px;
}

.rss {
  max-height: 45px;
}