* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;	
}

header {
  background-color: gray;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.main-container {
  display : flex;	
}

.main-section {
  display: flex;
}

.main-left{
  width: 50%;
  text-align: right;
}

.main-right{
  width: 50%;	
  padding-left: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  transition: 0.5s;
}

.nav-link:hover {
  text-decoration: underline;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.git {
  max-height: 45px;
}

.rss {
  max-height: 45px;
}