* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.container {
	text-align: center;
	max-width: 1024px;
	margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

.footer-container {
	display: flex;
	justify-content: space-around;
}

.git {
  max-height: 45px;
}

.rss {
  max-height: 45px;
}